.login {
  background: #fff;
  margin: 8em 0 8em 0;
  padding: 3em 3em 5em 2em;
  border-radius: 12px;
  width: 324px;
}

h1 {
  font-size: 40px;
  font-weight: 600;
  margin: 0 0 -15px 0;
}

.question {
  color: #787f88;
  font-size: 15px;
}

.link {
  text-decoration: none;
  font-size: 15px;
}

.firstname {
  margin-top: 1em;
}

.password {
  margin-top: 1.2em;
}

.login label {
  font-size: 12px;
  font-weight: 500;
}

.login input {
  display: block;
  width: 100%;
  border-radius: 6px;
  border: 0;
  outline: 0;
  background: #f5f6f7;
  height: 40px;
}
