.student_page {
    text-align: center;
    padding-top: 3em;    
    padding: 3em 2rem;
}

.text {
    padding: 0 2rem;
    font-size: 20px
}

.review_form {
    /* background: green; */
    /* padding-left: 20px; */
    /* padding-right: 20px; */
} 

.review_form form {
    /* background: orange; */
} 

.review_form,
.review_form > * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.review_form form button {
    margin-top: 5rem;
    max-width: 344px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
    border-radius: 6px;
    padding: 15px;
}

.form {
    margin-top: 30px;
}

.form__control {
    width: 100%;
    max-width: 500px;
    margin: 20px auto;
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
}

.form__control input,
.form__control select {
    border: 0;
    outline: 0;
}

.form__control > * {
    flex: 1;
    padding: 20px;
    color: #fff;
}

.form__control > *:first-child {
    border-radius: 10px 0px 0px 10px;
    background: #4285F4;
    display: block;
    width: 100%;
    max-width: 192.2px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.form__control > *:last-child {
    border-radius: 0px 10px 10px 0px;
    width: 100%;
    background-color: #fff;
    text-align: left;
    color: #787F88;
}

.age input {
    border: 0;
    outline: 0;
    text-align: center;
    border-bottom: 3px solid rgba(120, 127, 136, 0.5);
}

.select {
    padding: 10px 15px;
    background: #F5F6F7;
    border-radius: 6px;
}

.radio__flex {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.radio__flex div:first-child {
    margin-right: 20px;
}

.radio__flex div input {
    margin-right: 5px;
}

.distance label {
    margin-bottom: 10px;
    display: block;
    font-size: 14px;
}

.range {
    display: flex;
    flex-direction: column;
} 

.range > *:first-child {
    margin-bottom: 10px;
    font-size: 14px;
}