.navbar {
    background: #fff;
    padding: 0.8em 1em 0.8em 1em;
}

.navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
}

.navbar li {
    font-size: 20px;
    font-weight: 700;
    padding-right: 50px;
}

.link {
    color: #545a61;
    text-decoration: none;
}

/* .modal_button {
    background: none;
    font-size: 20px;
    font-weight: 700;
    color: #545a61
} */

@media(max-width: 600px) {

    .navbar {
        padding: 0.5em 0.6em 0.5em 0.6em;
    }

    .navbar li {
        font-size: 17px;
        padding-right: 30px;
    }
} 
